:root {
    box-sizing: border-box;
    /* font-size: 0.875rem; */
    /* font-family: 'Rubik', sans-serif; */
    --yellow: #fec312;
    --letter: #828282;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: inherit;
    outline: 0 none;
    /* outline: none; para qutar el contorno que viene predefinido */
}

body {
    width: 100%;
    height: 100vh;
    color: white;
    font-family: 'Rubik', sans-serif;
}

header {
    background: url(/img/img3.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 90%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 0 3%;
    margin-top: 3%;
    margin-bottom: 1%;

}


.header h5 {
    font-size: 1.3rem;
    font-weight: bold;
    display: flex;
    justify-content: left;
    align-items: start;
    padding-left: 40px;
}

h5 strong {
    color: var(--yellow);
}

.button {
    width: 50% ;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.socialMedia a{
    padding-left: 10px;
}

.socialMedia a:link, .socialMedia a:hover, .socialMedia a:visited{
    color: white;
}
.loginAndSign{
    display: flex;
    

} 

.loginAndSign button{
    background-color: var(--yellow);
    color: white;
    padding: 10px 60px;
    text-transform: uppercase;
    font-weight: bold;
    
}
.loginAndSign button:nth-child(1){
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem;
}
.loginAndSign button:nth-child(2){
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
}

.menu {
    margin-left: 60%;
    margin-right: 7%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
 .menu a:hover, .menu a:link, .menu a:visited {
    color: white;
    text-decoration: none;
    
 }

.textHeader {
    padding: 15% 0;

}

.textHeader h5 {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0;
}

.textHeader h5,
.textHeader p {
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
}

.carousel {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 5%;
    color: white;

}